# Set default behavior to automatically normalize line endings.
* text=auto

# Define LF line endings for certain file types.
*.js text eol=lf
*.json text eol=lf
*.sh text eol=lf
*.md text eol=lf

# Define CRLF line endings for certain file types.
*.bat text eol=crlf
